# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Getting skills about using Jupyter Notebook tools using Markdown
* List a popular languages for Data Science.
* List some commonly used library used by Data Scientists.
* List some Data Science Tools.
* Example of evaluating arithmetic expression in Python.

Some of thw popular languages that Data Scientists use are:

1. Python
1. R
1. SQL
1. Javas
1. Julia

Some of the coomonly used libraries used by Data Scientists include:

1. Pandas
1. Matplotlib
1. Scikit-Learn
1. TensorFlow
1. Apache spark
1. Scala
1. ggplot2

| Data Science Tools |
|:-------------------|
| Jupyter Notebook   |
| Vs Code            |
| R                  |

### Below are few examples of evaluating arithmetic expressions in Python.

In [2]:
# this is a simple arithmetic expression to multiply then add integer
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author:

Andres Maica